{% extends "normal.html" %}
{% block title %}Verification{% endblock %}
{% block main %}{% set showcase_sample = showcase|random %}
    <section class="primary-section backdrop" data-bg="{{ showcase_sample.images[0].sizes[1].url }}">
        <div class="wrap">
            <h1>Verification</h1>
        </div>
        <div class="series-caption">
            <div class="wrap">
                <p>{{ showcase_sample.name }}</p>
            </div>
        </div>
    </section>
    <form method="post" action="#">
        {{ csrf_input }}
        <section class="primary-section even">
            <div class="wrap">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="label-light" for="code">We've texted a 6-digit confirmation code to the phone associated with your account. Please enter it below.</label>
                            <input class="form-control" type="text" name="code" id="code" required="required" placeholder="e.g. 123456">
                            {{ form.code.errors }}
                        </div>
                        <div class="form-group">
                            <input class="btn success form-control" type="submit" value="Log In">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}